*{
    border: 0;
    margin: 0;
}
h1{
    padding: 30px;
    font-weight: bold;

}

h1,h2,h3{
    color: rgb(250, 172, 5);
}
.paragraph p{
    padding-left: 20px;
}
#personal h2{
    padding: 20px;
}
#personal ul li{
    list-style: none;
}
#personal img{
    border-radius: 40px;
    border: none;
    padding: 20px;
}

iframe {
    /* overflow: hidden; /* Might not work on all browsers */
    border: none; 
    
    /* width: 100%;
    height: 500px; */
}

/* For WebKit browsers (Chrome, Safari) */
/* iframe::-webkit-scrollbar {
    display: none;
} */

.paragraph h2{
  padding: 20px;
}
.paragraph b{
    font-style: italic;
    color: hsl(46, 97%, 64%);
    /* margin-bottom: 50px; */
}
.par{
    padding-bottom: 20px;
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 29px;
    /* padding-top: 10px; */
    /* background-color: aqua; */
}
footer p{
    padding-right: 20px;
    font-style: italic;
}
footer a{
    text-decoration: none;
    color:rgb(250, 172, 5) ;
}
.frame{
    border: none;
    /* background-color: rgb(255, 168, 6); */
}
/* Scrollbar width */
::-webkit-scrollbar {
    width: 5px; Width /*for vertical scrollbar*/
    /* height: 10px; Height for horizontal scrollbar */
}

/* Scrollbar Track (Background) */
::-webkit-scrollbar-track {
    /* background: #f0f0f0; Light gray background */
    /* border-radius: 5px; */
    border: none;
}

/* Scrollbar Handle (Thumb) */
::-webkit-scrollbar-thumb {
    background: #fdba03; /* Dark gray scrollbar handle */
    border-radius: 5px;
}

/* On Hover */
::-webkit-scrollbar-thumb:hover {
    background: #fdba03; /* Darker on hover */
}
